
<%= link_to "p o s t s", posts_path %>
<article>
  <h2><%= @post.title %></h2>
  <time>Updated at <%= @post.updated_at %></time>
  <p><%= @post.body %></p>

  <%= link_to "Edit Post", edit_post_path(@post) %>
  <%= link_to "Delete Post", post_path(@post), method: :delete %>
</article>

<sidebar><h3>"l i n k s"</h3>
  <ul><%= @link.title %></ul>
</sidebar>

<% end %>
