
<%= link_to "p o s t s", posts_path %>
<article>
  <h2><%= @post.title %></h2>
  <p><%= @post.body %></p>

</article>

<sidebar><%=<h3>"l i n k s"</h3>%>
  <ul><%= @link.title %></ul>
</sidebar>

<% end %>
